# Class 2: pandas Data Wrangling for R Users

**Course:** Data 201-Class 2  
**Background assumed:** R, dplyr pipelines, basic data.frames

---

### How to use this notebook
- Run cells **top to bottom**.
- Complete all **TODO** sections.
- When R code is shown, **translate it to pandas**.
- Focus on clarity and correctness.

## 0. Setup

In [1]:
import numpy as np
import pandas as pd
##
pd.set_option("display.max_columns", 20)

## 1. From data.frame to DataFrame

In R you might do:
```r
df <- read.csv("data.csv")
```

For today we create a small example dataset.

In [3]:
data = {
    "price": [200, 180, 250, 300, np.nan, 220, 260],
    "size": [1400, 1200, 1600, 1800, 1500, 1550, 1700],
    "bedrooms": [3, 2, 3, 4, 3, 3, 4],
    "neighborhood": ["A", "A", "B", "B", "A", "B", "B"],
}

df = pd.DataFrame(data)
df

   price  size  bedrooms neighborhood
0  200.0  1400         3            A
1  180.0  1200         2            A
2  250.0  1600         3            B
3  300.0  1800         4            B
4    NaN  1500         3            A
5  220.0  1550         3            B
6  260.0  1700         4            B

In [2]:
dt = pd.read_csv("https://raw.githubusercontent.com/Reben80/Data201/refs/heads/main/Dataset/housing.csv")
dt

     listing_id    price         size  bedrooms neighborhood          type
0        100001  1500000  1280.741760       1.0       Suburb     Townhouse
1        100002  1500000  1406.283113       2.0       Uptown  SingleFamily
2        100003  1500000  4146.825713       6.0       Suburb   MultiFamily
3        100004  1500000  3946.599818       6.0       Suburb  SingleFamily
4        100005  1500000  1243.751760       1.0     Downtown   MultiFamily
..          ...      ...          ...       ...          ...           ...
595      100596  1500000  1443.241197       3.0      Midtown         Condo
596      100597  1500000  1083.909714       2.0       Suburb         Condo
597      100598  1500000  1600.126432       1.0       Suburb  SingleFamily
598      100599  1500000  1248.216637       1.0   Waterfront         Condo
599      100600  1500000  1450.981922       NaN       Suburb  SingleFamily

[600 rows x 6 columns]

**TODO:**  
1. Check the **dimensions** of `df`  
2. **Inspect** the structure of `df`  
3. Produce **summary statistics**

In [9]:
## 1. Check the **dimensions** of `df`

df.shape

(7, 4)

In [11]:
## 2. **Inspect** the structure of `df`

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         6 non-null      float64
 1   size          7 non-null      int64
 2   bedrooms      7 non-null      int64
 3   neighborhood  7 non-null      object
dtypes: float64(1), int64(2), object(1)
memory usage: 356.0+ bytes

In [12]:
## 3. Produce **summary statistics**

df.describe()

            price         size  bedrooms
count    6.000000     7.000000  7.000000
mean   235.000000  1535.714286  3.142857
std     43.703547   197.303247  0.690066
min    180.000000  1200.000000  2.000000
25%    205.000000  1450.000000  3.000000
50%    235.000000  1550.000000  3.000000
75%    257.500000  1650.000000  3.500000
max    300.000000  1800.000000  4.000000

## 2. Index vs Columns (Very Important!)

**TODO:**  
1. Inspect `df.index`  
2. Inspect `df.columns`  

**Question:** Why is the index *not* the same as a regular column?

In [15]:
# 1. Inspect `df.index`
## Returns an index object of the row labels

df.index

RangeIndex(start=0, stop=7, step=1)

start = first number in the index
stop = where the index stops, but excludes
step = how much the index increments

In [16]:
# 2. Inspect `df.columns`
## returns an Index object containing the column labels

df.columns

Index(['price', 'size', 'bedrooms', 'neighborhood'], dtype='object')

## 3. Selecting Columns (dplyr::select)

In R:
```r
select(df, price, size)
```

**TODO:**  
1. Select only `price` and `size`  
2. Select a single column (`price`) as a **Series**

In [17]:
# Return a series (One column)

df["price"]

0    200.0
1    180.0
2    250.0
3    300.0
4      NaN
5    220.0
6    260.0
Name: price, dtype: float64

In [18]:
# Return a data frame (Multiple columns)

df[["price", "size"]]

   price  size
0  200.0  1400
1  180.0  1200
2  250.0  1600
3  300.0  1800
4    NaN  1500
5  220.0  1550
6  260.0  1700

## 4. Filtering Rows (dplyr::filter)

In R:
```r
filter(df, price > 200)
```

**TODO:**  
1. Filter rows where `price > 200`  
2. Filter rows where `price > 200` **and** `bedrooms >= 3`

In [22]:
## Boolean Indexing

# Filter rows where `price > 200`

df["price"]>200 # Return a series of boolean values. It compares every value to 200

df[df["price"]>200] # We are subsetting the dataframe to find where the condition is met/"TRUE"

   price  size  bedrooms neighborhood
2  250.0  1600         3            B
3  300.0  1800         4            B
5  220.0  1550         3            B
6  260.0  1700         4            B

In [23]:
#2. Filter rows where `price > 200` **and** `bedrooms >= 3`

df[(df["price"]>200) & (df["bedrooms"]>=3)] # each condition must be in a per

   price  size  bedrooms neighborhood
2  250.0  1600         3            B
3  300.0  1800         4            B
5  220.0  1550         3            B
6  260.0  1700         4            B

In [29]:
df.query("price > 200 and size > 1000") # You can use df.query to be able to use plain english to get what you want

   price  size  bedrooms neighborhood  price_per_sqft test column
2  250.0  1600         3            B        0.156250           a
3  300.0  1800         4            B        0.166667           a
5  220.0  1550         3            B        0.141935           a
6  260.0  1700         4            B        0.152941           a

## 5. Creating New Variables (dplyr::mutate)

In R:
```r
mutate(df, price_per_sqft = price / size)
```

**TODO:** Create a new column `price_per_sqft`.

In [24]:
# Create a new column `price_per_sqft`

df["price_per_sqft"] = df["price"] / df["size"] #You can add a column using the criteria following the = sign
df

   price  size  bedrooms neighborhood  price_per_sqft
0  200.0  1400         3            A        0.142857
1  180.0  1200         2            A        0.150000
2  250.0  1600         3            B        0.156250
3  300.0  1800         4            B        0.166667
4    NaN  1500         3            A             NaN
5  220.0  1550         3            B        0.141935
6  260.0  1700         4            B        0.152941

In [ ]:
# Create a new column `price_per_sqft` using a lambda

df.assign(price_bedroom = lambda t: t.price / t.bedrooms) #.assign creates a new column in the dataframe
#lambda is a small unnamed function. It automatically passes the whole dataframe to the lamda, so t is just a variable

In [30]:
# Extra - Add a column to the data frame which has conditional values based on the price column

def price_category(price):
  if price > 200:
    return "high"
  else:
    return "low"

df["price_category"] = df["price"].apply(price_category) #.apply() runs the function we just defined against every value of the price column
df

,price,size,bedrooms,neighborhood,price_per_sqft,test column,price_category
0,200.0,1400,3,A,0.142857,a,low
1,180.0,1200,2,A,0.150000,a,low
2,250.0,1600,3,B,0.156250,a,high
3,300.0,1800,4,B,0.166667,a,high
4,NaN,1500,3,A,NaN,a,low
5,220.0,1550,3,B,0.141935,a,high
6,260.0,1700,4,B,0.152941,a,high

## 6. Sorting Rows (dplyr::arrange)

In R:
```r
arrange(df, price)
```

**TODO:**  
1. Sort `df` by `price` (ascending)  
2. Sort `df` by `price` (descending)

In [32]:
# 1. Sort `df` by `price` (ascending)

df.sort_values(by="price")

,price,size,bedrooms,neighborhood,price_per_sqft,test column,price_category
1,180.0,1200,2,A,0.150000,a,low
0,200.0,1400,3,A,0.142857,a,low
5,220.0,1550,3,B,0.141935,a,high
2,250.0,1600,3,B,0.156250,a,high
6,260.0,1700,4,B,0.152941,a,high
3,300.0,1800,4,B,0.166667,a,high
4,NaN,1500,3,A,NaN,a,low

In [33]:
#2. Sort `df` by `price` (descending)

df.sort_values(by="price", ascending=False)

,price,size,bedrooms,neighborhood,price_per_sqft,test column,price_category
3,300.0,1800,4,B,0.166667,a,high
6,260.0,1700,4,B,0.152941,a,high
2,250.0,1600,3,B,0.156250,a,high
5,220.0,1550,3,B,0.141935,a,high
0,200.0,1400,3,A,0.142857,a,low
1,180.0,1200,2,A,0.150000,a,low
4,NaN,1500,3,A,NaN,a,low

## 7. Grouping and Aggregation

In R:
```r
df %>%
  group_by(neighborhood) %>%
  summarize(mean_price = mean(price, na.rm = TRUE))
```

**TODO:** Reproduce the summary above in pandas.

In [34]:
# Reproduce the summary above in pandas.

df.groupby("neighborhood")["price"].mean() ## This returns a series with the index being neighborhood and the values being the mean price for that group

neighborhood
A    190.0
B    257.5
Name: price, dtype: float64

In [35]:
df.groupby("neighborhood").agg(mean_price = ("price", "mean")) ## This returns a dataframe which is grouped by neighborhood and aggregates based on the rules within the .agg function

              mean_price
neighborhood
A                  190.0
B                  257.5

In [41]:
df['price'].nunique() # Returns the number of unique values in a column

6

In [37]:
df.groupby("neighborhood").agg(
    mean_price = ("price", "mean"), # Create a new column in the df called "mean price"
    count=("price", "count"), # Create a column called 'count' where we are counting the number of rows in each group (COUNTS ONLY UNIQUE VALUES)
    min_price = ("price", "min"),
    max_price = ("price", "max")
)

              mean_price  count  min_price  max_price
neighborhood
A                  190.0      2      180.0      200.0
B                  257.5      4      220.0      300.0

## 8. Method Chaining (Pipe Mindset)

Pandas supports method chaining, similar to `%>%` in R.

**TODO:** Using chaining, compute:
- **Filter:** `price > 200`  
- **Mutate:** `price_per_sqft = price / size`  
- **Group by** `neighborhood`  
- **Summarize:** average `price_per_sqft`

In [46]:
(df
.query("price > 100 and size > 800")
.assign(price_per_sqft = lambda t: t.price / t.size)
.groupby("neighborhood")
.agg(mean_price_per_sqft = ("price_per_sqft", "mean"))
)

              mean_price_per_sqft
neighborhood
A                        4.523810
B                        6.130952

## 9. Missing Data

**TODO:**  
1. **Identify** which values are missing  
2. **Drop** rows with missing values  
3. **Fill** missing prices with the mean price  

**Question:** When is dropping missing data reasonable? When is it risky?

In [47]:
# 1. Identify which values are missing

df.isna()

,price,size,bedrooms,neighborhood,price_per_sqft,test column,price_category
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,True,False,False,False,True,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False

In [48]:
# 2. Drop rows with missing values

df.dropna()

,price,size,bedrooms,neighborhood,price_per_sqft,test column,price_category
0,200.0,1400,3,A,0.142857,a,low
1,180.0,1200,2,A,0.150000,a,low
2,250.0,1600,3,B,0.156250,a,high
3,300.0,1800,4,B,0.166667,a,high
5,220.0,1550,3,B,0.141935,a,high
6,260.0,1700,4,B,0.152941,a,high

In [53]:
# 3. Fill the missing values for price with the mean price value

mean_price = df["price"].mean()

df["price"] = df["price"].fillna(mean_price)
df

,price,size,bedrooms,neighborhood,price_per_sqft,test column,price_category
0,200.0,1400,3,A,0.142857,a,low
1,180.0,1200,2,A,0.150000,a,low
2,250.0,1600,3,B,0.156250,a,high
3,300.0,1800,4,B,0.166667,a,high
4,235.0,1500,3,A,NaN,a,low
5,220.0,1550,3,B,0.141935,a,high
6,260.0,1700,4,B,0.152941,a,high

## 10. Common Pitfalls for R Users

- Boolean filtering requires **parentheses** when combining conditions.  
- `groupby()` does nothing until you **aggregate**.  
- Watch out for **chained assignment** warnings (use `.loc` or single assignment).

## 11. Active Learning Exercise (15â€“20 min)

**R pipeline:**
```r
df %>%
  filter(size > 1400) %>%
  mutate(price_per_sqft = price / size) %>%
  group_by(neighborhood) %>%
  summarize(avg_ppsqft = mean(price_per_sqft, na.rm = TRUE))
```

**TASK:** Translate the pipeline above into pandas using method chaining. Write clean, readable code.

In [56]:
(df
.query("size > 1400")
.assign(price_per_sqft = lambda t: t.price / t.size)
.groupby("neighborhood")
.agg(avg_ppsqft = ("price_per_sqft", "mean"))
)

              avg_ppsqft
neighborhood
A               6.714286
B               7.357143

## 12. Wrap-Up Reflection

In 2â€“3 sentences:
- What feels **most similar** to dplyr?  
- What feels **most different**?  
- What do you find **confusing** so far?